@charset "utf-8";
/*
css document
*/

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 5px;
  background: #ff0000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ff0000;
  cursor: pointer;
}

.button {
  background-color: #FF0000;
  border: 1px solid #FFFFFF;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button:hover {
  background-color: #ffffff;
  border: 1px solid #FF0000;
  color: red;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button:active {
  background-color: #ff0000;
  border: 1px solid #ffffff;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button1 {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button1:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button1:active {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button2 {
  background-color: #000000;
  border: 1px solid #ff0000;
  color: red;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button2:hover {
  background-color: #ff0000;
  border: 1px solid #000000;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button2:active {
  background-color: #000000;
  border: 1px solid #ff0000;
  color: red;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button3 {
  background-color: #FFFFFF;
  border: 1px solid #FF0000;
  color: red;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button3:hover {
  background-color: #ff0000;
  border: 1px solid #FFFFFF;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button3:active {
  background-color: #FFFFFF;
  border: 1px solid #FF0000;
  color: red;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button4 {
  background-color: #000000;
  border: 1px solid #FFFFFF;
  color: white;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button4:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button4:active {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: white;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button5 {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button5:hover {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: white;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button5:active {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 3.7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 12px;
  cursor: cell;
}

.button6 {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button6:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: black;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

.button6:active {
  background-color: #000000;
  border: 1px solid #ffffff;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  border-radius: 12px;
  cursor: cell;
}

a:link {
  font-family:SuisseIntl-Medium;
  font-size: 15px;
  color: red;
  cursor: cell;
}

a:visited {
  font-family:SuisseIntl-Medium;
  font-size: 15px;
  color: red;
  cursor: cell;
}

a:hover {
  font-family:SuisseIntl-Medium;
  font-size: 16px;
  color: grey;
  cursor: cell;
}

a:active {
  font-family:SuisseIntl-Medium;
  font-size: 15px;
  color: pink;
  cursor: cell;
}

.container1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  font-family:SuisseIntl-Medium;
  font-size: 15px;
  color: red;
  cursor: cell;
}
